.cover-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.logoImage {
  width: 100px;
  height: 100px; 
  object-fit: contain; 
}

.logoLargeImage {
  width: 150px;  
  height: 150px; 
  object-fit: contain; 
}

.logoMidImage {
  width: 125px;
  height: 125px;
  object-fit: contain;
}

.logoXLargeImage {
  width: 175px;  
  height: 175px; 
  object-fit: contain; 
}


.logoXXLargeImage {
  width: 200px;  
  height: 200px; 
  object-fit: contain; 
}